{% extends "base_generic.html" %}

{% block content %}
<h1>Local Library Home</h1>

<p>Welcome to <em>LocalLibrary</em>
    <p>The tutorial demonstrates how to create a Django skeleton website and application, define URL mappings, views
        (including Generic List and Detail Views), models and templates.</p>


    <h2>UML Models</h2>
    <p>An UML diagram of the site's Django model structure is shown below. </p>

    <div>
        {% load static %}
        <img src="{% static "images/local_library_model_uml.png" %}" alt="My image" style="width:555px;height:540px;" />
    </div>


    <h2>Dynamic content</h2>

    <p>The library has the following record counts:</p>
    <ul>
        <li><strong>Books:</strong> {{ num_books }}</li>
        <li><strong>Copies:</strong> {{ num_instances }}</li>
        <li><strong>Copies available:</strong> {{ num_instances_available }}</li>
        <li><strong>Authors:</strong> {{ num_authors }}</li>
    </ul>


    You have visited this page {{ num_visits }} times.

    {% endblock %}